---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to the Middle Baptist Convention !</h1>
 
<p><img src="https://middlebaptists.org/IMG_7227.JPG" alt="" width="50%" /></p>

			<p>
				We are quite eager and never before so joyful as we are on the very fine 
spring day as to make the introduction between you all and what we affectionately call " The Middle Way ".
			</p>

			<h1>New Book</h1>

			<p>
				Many among our congregation have indeed ascertained correctly as to 
the release of our Reverend  Ambrosia, (Be'Adonaoi!)'s New Book !
			</p>

<p><img src="https://middlebaptists.org/The%20Middle%20Way%202.PNG" alt="" width="50%" /></p>

			<h1>Songs</h1>
			<p>
More  Songs are coming soon! 
			</p>


<h2> First our #1 (Most Middle) HIT </h2>

<audio src="http://middlebaptists.org/gbg.mp3" controls></audio>
<br/>
<h2> And some More Tunes! </h2>

<audio src="http://middlebaptists.org/middle-baptist-1.mp3" controls></audio>
<br/>
<audio src="http://middlebaptists.org/be-a-1.mp3" controls></audio>

			<h1>2025 CONVENTION</h1>
			<p>
IMPORTANT TO THE MIDDLE WAY IS FINDING MIDDLE GROUND TO MEET! THEREFORE	, we have decided that our 2025 Convention will be held in SAVANNAH GEORGIA .

It will take place March 14 - 17 and we cannot imagine a more Middle time or place ! 
			</p>

		</main>
		<Footer />
	</body>
</html>
